.inicio {
    background-color: rgb(241, 57, 57);
    display: flex;
    padding: 0.5rem;

}
.INICIO {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 13px;
  padding: 0rem 0.5rem;
  margin-top: 20px;
}

.altas_plataformas {
    color: silver;
    text-decoration-line: underline;

}
.altos_plataformas {
    margin-left: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.inicio_descargar {
    display: flex;
    margin-left: 18%;
    gap: 20px;

}

.inicio_juego {
    border: 20px solid rgb(12, 60, 122);
    background-color: rgb(12, 60, 122);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}

.descargar_juego {
    border: 20px solid rgb(216, 18, 18);
    background-color: rgb(216, 18, 18);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;


}

.only_up {
    margin: 1px;
    font-size: 30px;
    margin-left: 28%;
    margin-top: 30px;
    color: orange;
    text-decoration-line: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;

}

.descripcion_only_up {
    margin-left: 7%;
    text-align: justify;
    line-height: 38px;
    max-width: 900px;
    font-size: 17px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.indicaciones {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    margin-left: 6%;
}


.compra {
    margin-left: 9%;
    border: none;
    padding-bottom: 2rem;
    box-shadow: 40px;
    
}

.capturas {
    margin-left: 9%;
    width: 300px;
    height: 200px;
    display: flex;
    gap: 5px;
}

.comprar {
    margin: 2rem auto;
    width: 90%;
    max-width: 800px;
    background-color: #f44336; /* rojo suave */
    padding: 2rem;
    position: relative;
  }

  .tarjeta {
    background-color: #2c2f38; /* gris oscuro */
    color: white;
    padding: 1.5rem;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
  }

  .tarjeta h2 {
    margin-top: 0;
  }

  .tarjeta p {
    color: #ccc;
  }

